@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Edit Movie";
}

@model MovieStorage.Models.MovieInfo

<form asp-action="Edit" method="post">
    <input hidden asp-for="MovieId" placeholder="@Model.MovieId" />
    <label asp-for="Category">Category</label>
    <input asp-for="Category" placeholder="@Model.Category"/>
    <br /><br />
    <label asp-for="Title">Title</label>
    <input asp-for="Title" placeholder="@Model.Title"/>
    <br /><br />
    <label asp-for="Year">Year</label>
    <input asp-for="Year" placeholder="@Model.Year"/>
    <br /><br />
    <label asp-for="Director">Director</label>
    <input asp-for="Director" placeholder="@Model.Director"/>
    <br /><br />
    <label asp-for="Rating">Rating</label>
    <select asp-for="Rating">
        <option value="">Select One</option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG">PG-13</option>
        <option value="R">R</option>
    </select>
    <br /><br />
    <label asp-for="Edited">Edited</label>
    <select asp-for="Edited">
        <option value="">Select One</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <br /><br />
    <label asp-for="LentTo">Lent To</label>
    <input asp-for="LentTo" placeholder="@Model.LentTo"/>
    <br /><br />
    <label asp-for="Notes">Notes</label>
    <input asp-for="Notes" maxlength="25" placeholder="@Model.Notes"/>
    <br /><br />
    <button type="submit">Save Changes</button>
    <div asp-validation-summary="All"></div>
</form>


